<div style="margin-left:40%; margin-top:5%;">
<label>Brand Name:</label><input type="text" name="brandName"><br/>
<label>Location Coverage:</label><input type="text" name="locationCoverage"><br/><input type="button" id="btnLocationAdd" value="Add Location"><br/>
<label style="display:none" name="locationCoverageEntered"></label>
<label>Users:</label><input type="text" name="Users"><br/><input type="button" id="btnUserAdd" value="Add User"><br/>
<label style="display:none" name="UserValueEntered"></label><br/>
<label>Description:</label><input type="text" name="description"><br/>
<input style="padding: 10px" type="submit"><input routerLink="/brandlist" style="margin:20px;padding: 10px" type="button" value="Back">
</div>