<body style="margin:20px;">
<main>
     <h1>Brand Name</h1>
     <label>Description about the brand</label>
</main>
<div style="margin: 20px">
<div style="display:block;float:left">
    <div class="divBrandIndex"> 
        <h2>Brand Index</h2>
        <img scr='./assets/images/filters.jpg' style="width:100px;height:100px"/>
    </div>
    <div class="divKPI">
        <h2>Key Performance Indicator</h2>
    </div>
</div>
<div style="display:block"> 
    <div class="divTimeFilter">
        <h2>Time Filters</h2>
    </div>
    <div class="divDemographicFilters">
        <h2>Demographic Filters</h2>
    </div>    
</div>
</div>
</body>
