<ul>
        <img routerLink="/brand" src="./assets/images/Ariel.png" />
        <img routerLink="/brand" src="./assets/images/downy.gif" />
        <img routerLink="/brand" src="./assets/images/Joy.jpg" />
        <img routerLink="/brand" src="./assets/images/Febreze.jpg" />
    </ul>
    <a routerLink="/brandlist" class="brandConfig" ><button>Brand Configuration</button></a>
    <br/>
    <br/>
    <!-- <div style="width: 800px; height: 400px">
        <carousel [sources]="imageSources" [config]="config"></carousel>
      </div> -->
      <div>
            <div>
                 <h1>Brand Name</h1>
                 <label>Description about the brand</label>
            </div>
            
            <div style="margin:1%">
                <div style="display:inline-block;width:49%" class="divBrandIndex"> 
                    <h2>Brand Index</h2>                    
                </div>                
                <div style="display:inline-block;width:49%" class="divTimeFilter">
                    <h2>Time Filters</h2>
                </div>
                <div style="display:inline-block;width:49%" class="divKPI">
                        <h2>Key Performance Indicator</h2>
                </div>
                <div style="display:inline-block;width:49%" class="divDemographicFilters">
                    <h2>Demographic Filters</h2>
                </div>    
            </div>
</div>