<h2 style="margin-top:20px;">About Brand Story</h2>
<p>Brand story is a one solution for your all brand problems</p>
<h2>We Support</h2>
<p>Currently brand story app supports brand analysis for four of the Procter and Gamble products such as <b>Ariel, Joy, Febreze and Downy.</b></p>
<section>
    <div style="float:left;width:25%">
        <h3>Ariel</h3>
        <p>
            While Procter & Gamble had strong expertise in handwashing, the landscape began to change in the 1960’s as the washing machine started to take off in certain countries. Women the world over rejoiced in the ease of washing, but a new challenge appeared. Clothes weren’t white enough. So the P&G European Technology Center got to work.
        </p>
    </div>
    <div style="width:25%;float:left">
        <h3>Joy</h3>
        <p>
            Joy has long-lasting suds with powerful surfactants to clean a wide variety of soils. Designed to be mild, Joy has a high surfactant level to give a rich layer of suds and high suds mileage.
        </p>
    </div>
    <div style="float:left;width:25%;">
        <h3>Febreze</h3>
        <p>
            Avoid cover-ups that only mask the problem. With Febreze® odor eliminators, unpleasant smells are gone for good. Using patented technology, Febreze Air Effects and Febreze Fabric Refreshers lock onto odors and eliminate them, so all your customers smell is clean.
        </p>
    </div>
    <div style="float:left;width:25%;">
        <h3>Downy</h3>
        <p>
            The agitation, spinning, and heat of the laundry process can damage clothes at the fiber level. But Downy Fabric Softener smooths and strengthens fibers to protect clothes from the damage of the wash, helping them maintain their shape. By smoothing fibers, Downy reduces the friction between them that causes them to break and leads to pills and fuzz. And when fibers break, colors appear duller, so using Downy also helps keep your clothes from fading.
        </p>
    </div>
</section>

<div style="clear:both; width: 1000px; height: 500px; margin-left:500px">
    <carousel [sources]="imageSources" [config]="config"></carousel>
  </div>